.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background: rgb(0, 146, 228);
  color: white;
  width: 175px;
  height: 75px;
  border-radius: 10px;
  border: 1px solid blue;
  top: 300px;
  right: 700px;
  position: absolute;
  transform: scale(0.8);
  font-size: x-large;
  font-weight: bolder;
  outline: none;
  box-shadow: 0px 5px 0px rgb(0, 146, 228);
  cursor: pointer;
}

button:active {
}

button:active {
  box-shadow: 0 3px 0 rgb(31, 117, 175);
  top: 303px;
  height: 73px;
}
